block variables
  -
    var page = {
      title: title,
      description: description,
      author: author
    }

doctype html
html(lang="en")
  head
    include ../partials/head.pug
  body
    .wrapper
      include ../partials/header.pug
      block content
      include ../partials/footer.pug
      block scripts
        script(src="/scripts/main.js")
