
meta(charset="utf-8")
title=site.title + '|' + page.title
meta(name="description" content=page.description || site.description)
meta(name="author" content=page.author || site.author)
link(rel="stylesheet", href="styles/main.css")
meta(name="viewport" content="width=device-width, initial-scale=1")
