include ../mixins/nav-list-item.pug

nav
  ul.nav-list
    for link in site.links
      if page.title == link.title
        +nav-list-item(link.href, link.title)(class="nav list-item__active")
      else
        +nav-list-item(link.href, link.title)(class="nav list-item")
